<div class="center">
  <br/>
  <h1 black>ADMINISTRADOR REPORTE ALARMAS</h1>
</div>

<br/>
<div class="row">
  <div class="jumbotron text-center col-sm-8">
    <div class="cuadro_izquierda">
      <p>CREA UN REPORTE PERSONALIZADO Y DEFINE LAS OPCIONES DE TIPO DE REPORTE</p>
    </div>
  </div>
  <div class="jumbotron text-center col-sm-4">
    <div class="cuadro_derecha">
      <p>BORRA TUS RECORDATORIOS</p>
    </div>
  </div>
</div>

<br/>
<div class="row">
  <div class="jumbotron text-center col-sm-8">
    <button  mat-raised-button type="button" class="color-button-green" routerLink="/parametro-reporte">Crear Reporte</button>
  </div>
  <div class="jumbotron text-center col-sm-1">
    <app-mensaje-borrar></app-mensaje-borrar>
  </div>
</div>

<br/>







