<br/>

  <div class="jumbotron text-center">
    <h1>Detalles de la fecha</h1>
  </div>




     <div class="row">
      <div class="card-body col-sm-4">

        <div class="cuadro_izquierda">

          <div class="container col-sm-8">


              <h2>Ingresa mes/dia/año</h2>


            <div  id="wrapper">
              <mat-form-field>
                <mat-label>Enter Date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>

        </div>
      </div>
      <div class="card-body col-sm-4"></div>
      <div class="card-body col-sm-4">
        <div class="container pt-3  col-sm-4">
          <div>
          <section class="example-section">
            <label class="example-margin">Alinear:</label>
            <br/>
            <mat-radio-group [(ngModel)]="labelPosition">
            <mat-radio-button class="example-margin" value="after">After</mat-radio-button>
            <mat-radio-button class="example-margin" value="before">Before</mat-radio-button>
            </mat-radio-group>
          </section>
          </div>
        </div>
      </div>

  <br/>
  <br/>



    <div class="row">
      <div class="jumbotron text-center col-sm-8">
        <button  mat-raised-button type="button" class="color-button-red" routerLink="/home">Cancelar</button>
      </div>
      <div class="jumbotron text-center col-sm-1">
        <button  mat-raised-button type="button" class="color-button-blue" routerLink="/resumen">Aceptar</button>
      </div>
    </div>



