.example-label {
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.mat-raised-button.color-button-green {
  background-color: green;
  color: white;
}

.mat-raised-button.color-button-blue {
  background-color: #85c1e9;
  color: white;
}

.mat-raised-button.color-button-red {
  background-color: red;
  color: white;
}

.cuadro_izquierda{
  margin-left: 40%;
  margin-right: 100%;
  margin-top: 2%;
  margin-bottom: 10%;
  height: 80%;
  width: 90%;
  padding: 40px;
  border: #000000 2px solid;
  text-align: center;
}

h1{
  font-family: 'Risque', cursive;
  font-size: 250%;
}

h2{
  font-family: 'Roboco', cursive;
  color:#6651a0;
  white-space: pre;
  font-size: 200%;
  margin-left: -30%;
}


.mat-form-field{
  border: #000000 1.5px solid;
  border-radius: 30px;
  width: 150%;
  padding: 20px;
  margin-left: -30%;
}
