.example-label {
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.mat-raised-button.color-button-green {
  background-color: green;
  color: white;
}

.mat-raised-button.color-button-blue {
  background-color: #85c1e9;
  color: white;
}

.mat-raised-button.color-button-red {
  background-color: red;
  color: white;
}
