<div class="center">
  <br/>
  <h1 bold>Parámetros Reportes de Recordatorios</h1>
</div>

<div class="row">

  <div class="card-body col-sm-4">
    <div class="cuadro_izquierda">

      <br/>
      <br/>
      <br/>

      <div class="example-button-row">
        <button mat-button class="color-button-pink" color="primary"  routerLink="/fecha-detalle" >+ Fecha Inicial:</button>
        <button mat-button class="onlyRead" disabled>01/03/2023</button>
      </div>

      <br/>
      <br/>

      <div class="example-button-row">
        <button mat-button class="color-button-pink" color="primary" routerLink="/fecha-detalle" >+ Fecha Final:</button>
        <button mat-button class="onlyRead" disabled>01/03/2023</button>
      </div>

    </div>

  </div>


  <div class="card-body col-sm-4">
    <div class="cuadro_derecha">
      <div>
        <img src="./assets/images/googe_analytics.png" width="720" height="400">
      </div>
    </div>
  </div>

  <div class="selector">
    <h2 class="Texto2">Tipo de Gráfica:</h2>
      <mat-radio-group aria-label="Select an option" class="selectores">
          <mat-radio-button value="1">Diagrama de Barras</mat-radio-button>
          <mat-radio-button value="2">Histograma</mat-radio-button>
      </mat-radio-group>
  </div>
</div>

<div class="row">
  <div class="jumbotron text-center col-sm-8">
    <button  mat-raised-button type="button" class="color-button-green" routerLink="/resumen">Generar Reporte</button>
  </div>
  <div class="jumbotron text-center col-sm-1">
    <button  mat-raised-button type="button" class="color-button-blue" routerLink="/home">Menu Principal</button>
  </div>
</div>
